[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
click = "*"
requests = "*"
numpy = "*"
black = "==18.5b0"
pymmwr = "==0.1.0"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
